@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: lightgreen;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>-to Ryan Gabler and Calvin Stepan's Assignment 5 MusicShop.com ASP.Net MVC project</a>.</p>

    <!-- In your Index.cshtml or any other view -->
    <button onclick="location.href='@Url.Action("Index", "Login")'" class="btn btn-primary">Take me to Login</button>

  

</div>
