@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        background-color: lightgreen;
    }
</style>
<p>This website is for CSCI 213 and does not collect anypersonal data nor does it connect to the internet.</p>